@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="main-page" class="root">

    <div class="button-container">
        <a class="navbar-brand" asp-area="" asp-page="/AddItem">Add Resource</a>
        <a class="navbar-brand" asp-area="" asp-page="/UpdateItem">Update Resource</a>
    </div>



</div>