@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["ResourceData"] = "";
}

<div id="main-page" class="root">

    <div class="button-container">
        <a class="navbar-brand" asp-area="" asp-page="/AddItem">Add Resource</a>
        <a class="navbar-brand" asp-area="" asp-page="/UpdateItem">Update Resource</a>
    </div>

    <add namespace="BookingFrontend.Services" />

    @functions {
        async Task GetItem() {
            
        }
    }

    <div>
        <input id="resource-id-input" type="text" placeholder="Input item Id" />
        <button onclick="@{await GetItem();}">Find Item</button>
    </div>

    <div id="resource-diplsay" class="display">
        @ViewData["ResourceData"]
    </div>

</div>