@page
@model Frontend.Pages.IndexModel
@{
    ViewData["Title"] = "Udlejnings Manager";
}

<div id="index-root">

    <a asp-page="./Ressource/Index">See Ressources</a>
    <a asp-page="./Booking/Index">See Bookings</a>

</div>
