@page
@model Frontend.Pages.UpdateRessourceModel
@{
	ViewData["Title"] = "Update resource";
}
<a asp-page="./index">Tilbage</a>


<div id="input-fields">
	<input id="id-input" type="number" placeholder="Id" />
	<input id="desc-input" type="text" placeholder="Description"/>
	<input id="type-input" type="number" placeholder="Type"/>
	<input id="price-input" type="text" placeholder="price"/>
</div>

<button onclick="sendRequest()">Opdater ressource</button>

<script>
    async function sendRequest() {
        const id = parseInt(document.getElementById('id-input').value);
        const description = document.getElementById('desc-input').value;
        const specification = document.getElementById('type-input').value;
        const price = parseFloat(document.getElementById('price-input').value);

        const requestData = {
	        description: description,
	        specification: specification,
	        price: price
        };

        const BASE_ADDR = "http://localhost:5000";
        const response = await fetch(`${BASE_ADDR}/UpdateRessouce/${id}`, {
	        method: 'PUT',
	        headers: {
		        'Content-Type': 'application/json'
	        },
	        body: JSON.stringify(requestData)
        });

        if (response.ok) {
            const data = await response.json();
            alert("Resource updated successfully!");
            console.log('Resource updated successfully:', data);
        } else {
	        alert("Kunne ikke sende til serveren");
            console.error('Error:', response.statusText);
        }
    }
</script>